<div class="w-100 mt-5 container">
  <form
    #changePasswordForm="ngForm"
    (ngSubmit)="changePasswordForm.form.valid && onPasswordChange()"
    class="w-25 mx-auto"
  >
    <h4>Change Password</h4>
    <div class="my-3">
      <label for="oldPassword" class="form-label">Old Password</label>
      <input
        type="password"
        class="form-control"
        name="oldPassword"
        id="oldPassword"
        placeholder="Old password"
        [(ngModel)]="oldPassword"
        required
      />
    </div>
    <div class="my-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control"
        name="newPassword"
        id="newPassword"
        placeholder="New password"
        [(ngModel)]="newPassword"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
