<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/employees" routerLinkActive="active">Employees</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-link" routerLink="/change-password" routerLinkActive="active">Change Password</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <p class="nav-link" style="cursor: pointer;" (click)="logoutUser()">Logout</p>
          </li>
        </ul>
      </div>
    </div>
  </nav>